// Navigation code here
.navigation {
    border: 1px solid @sea-shell;
    background: @wild-sand;
    color: @nav-font;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    h1 {
        font-size: 4rem;
        width: 100%;
        margin: 1% 37%;
    }

    a {
        text-decoration: none;
        font-size: 1.6rem;
        color: @nav-font;
        padding: 1% 1%;
        font-weight: bold;
    }
}